body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 150px;
    border: 3px solid #000814;
    border-radius: 100px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #f7cad0;
    color: #000814;
    border: 6px groove #c4c7ff;
    border-radius: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.15);
}

.border-blue {
    border: 1px dotted blue;
    
}
.text-fade {
  color: #333333;
  transition: color 0.3s ease;
}

.text-fade:hover {
  color: #6a0f49; /* Changes to blue */
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

